<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex">
                <div class="d-flex">
                {% if fbUrl is not null %}    
                    <a href={{fbUrl}}><i class="fab fa-facebook-f fb-color"></i></a>
                {% endif %}
                {% if instaUrl is not null %}
                    <a href={{instaUrl}}><i class="fab fa-instagram insta-color"></i></a>
                {% endif %}
                {% if linUrl is not null %}
                    <a href={{linUrl}}><i class="fab fa-linkedin-in lin-color"></i></a>
                {% endif %}
                </div>
                <div class="d-flex">
                    <span class='d-block align-self-center'>{{companyName}} © 2018</span>
                    <span>|</span>
                    <span>{{address}} {{zipcode}} {{city}}</span>
                    <span>|</span>
                    <span>T {{tel}}</span>
                    <span>|</span>
                    <span>{{email}}</span>
                </div>
            </div>
        </div>
    </div>
</footer>