<html>
<body>
    <h3>{{subject}}</h3>
    <p>
        {{message}}
    </p>

    <hr>

    <p>
        <h3>Klantgegevens</h3>
        <table>
            <tr>
                <td>Naam:</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>{{email}}</td>
            </tr>
            <tr>
                <td>Telefoonnummer:</td>
                <td>{{phoneNumber}}</td>
            </tr>
            <tr>
                <td>Plaats:</td>
                <td>{{place}}</td>
            </tr>
        </table>
    </p>
</body>
</html>