  {# full page background #}
  {% if pageBackground is defined and pageBackground is not null %}
    <div class="full-page-background" style="background: url({{pageBackground.file.url}}) no-repeat center center fixed; background-size: cover">
    </div>
  {% endif %}

  <div class="container-fluid pb-full-page">
    <div class="row">
      <div class="offset-xs-1 col-xs-12 offset-md-1 col-md-5 offset-lg-1 col-lg-5 floating-text-left mt-5">
        <div>
          <h2>{{pageHeader}}</h2>
        </div>
        <div class="green-outline">
          {{content|markdown}}

          {% if website is defined and website is not null %}
          <p>
            <a href="{{website}}">
              {{website}}
            </a>
          </p>
          {% endif %}

          {% if contentAuthor is defined and contentAuthor is not null %}
          <p>
            <span class="quote">{{contentAuthor}}</span>

            {% if project is defined and project is not null %}
              <a href="{{ path('impression_specific', {'name': project.urlNaam, 'id': project.id })}}" class="groenregie-green mt-2 float-right">Bekijk dit project</a>
            {% endif %}
          </p>
          {% endif %}

          {% if pdf is defined and pdf is not null %}
          <p>
            <a href="{{ pdf.file.url }}" class="groenregie-green mt-2">Bekijk hele artikel</a>
          </p>
          {% endif %}
        </div>
      </div>
      
      {% if image is defined and image is not null %}
        <div class="col-xs-12 col-md-6 col-lg-6 d-flex justify-content-center row flex-wrap-wrap">
          <div class="col-xs-12 col-md-12 col-lg-10 floating-image-right">
            <img src="{{image.file.url}}" width="{{imageWidth is defined and imageWidth is not null ? imageWidth : '100%' }}">
            
            {% if quote is defined and quote is not null %}
              <div class="col-12 px-0 my-3 quote-partner">
                <span>"{{quote}}"</span>
                <br>
                {% if quoteAuthor is defined and quoteAuthor is not null %}
                    <span>{{quoteAuthor}}</span>
                {% endif %}
              </div>
          {% endif %}
          </div>
        </div>
      {% endif %}

    </div>
  </div>
  {# end full page background #}