{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/general.css') }} />
    <link rel="stylesheet" href={{ asset('css/navbar.css') }} />
    <link rel="stylesheet" href={{ asset('css/homepage.css') }} />
    <link rel="stylesheet" href={{ asset('css/contact.css') }} />
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
{% endblock stylesheets %}

{% block title %}Contact{% endblock title %}

{% block body %}
<div class="contact-body">
    <div class="contact-map">
		<div class="d-block w-100" id="map"></div>
	</div>

	<div class="contact-content container content">
		<div class="row">
			<div class="contact-adres col-xs-12 col-md-3">
				<h4>Adres</h4>
				<p>
					<span class="groenregie-green">{{companyName}}</span>
					<br><span class="white">{{address}}</span>
					<br><span class="white">{{zipcode}} {{place}}</span>
					<br><span class="white">{{country}}</span>
				</p>
				<p>
					T: <span class="groenregie-green">{{telephone}}</span><br> 
					E: <span class="white">{{email}}</span><br> 
					I: <span class="white">{{website}}</span>
				</p>
			</div>
			<div class="contact-form col-xs-12 col-md-7">
				<h4>Contactformulier</h4>
				{{form_errors(form)}}
				<form action={{path('contact')}} method="POST">
					{% for message in app.flashes('reCAPTCHA') %}
						<div class="alert alert-danger" role="alert">
							{{ message }}
						</div>
					{% endfor %}
					{% for message in app.flashes('sendSuccess') %}
						<div class="alert alert-success" role="alert">
							{{ message }}
						</div>
					{% endfor %}
					<div class="form-group">
						<label for="name">Uw naam*</label>
						{{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.name) }}
					</div>
					<div class="form-group">
						<label for="email">E-mailadres*</label>
						{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.email) }}
					</div>
					<div class="form-group">
						<label for="phoneNumber">Telefoonnummer*</label>
						{{ form_widget(form.phoneNumber, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.phoneNumber) }}
					</div>
					<div class="form-group">
						<label for="city">Plaats*</label>
						{{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.city) }}
					</div>
					<div class="form-group">
						<label for="subject">Onderwerp*</label>
						{{ form_widget(form.subject, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.subject) }}
					</div>
					<div class="form-group">
						<label for="message">Bericht*</label>
						{{ form_widget(form.message, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
						{{ form_errors(form.message) }}
					</div>
					<div class="form-group">
						{{ form_widget(form.checkbox, { 'attr': {'class': 'form-check-input', 'id': 'exampleCheck1'} }) }}
						<label class="form-check-label" for="privacy-agree">
							Ja, ik neem kennis van de <a target="_blank" href={{path('privacy_declaration')}} class="green-link">privacy statement</a> en door het formulier in te vullen ga ik daarmee akkoord.
						</label>
						{{ form_errors(form.checkbox) }}
					</div>
					<div class="form-group">
						<div class="g-recaptcha" data-sitekey="6Lco72wUAAAAACFvn_Wsj6crBIdhOowz69LLznEa"></div>
					</div>
					{{ form_row(form._token) }}
					<button type="submit" class="btn btn-primary send-button">Verzenden</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock body %}

{% block javascripts %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoiZGphenoxOTk1IiwiYSI6ImNqbXc0Mjc1dTA2c3QzcXBqZzBsdTR1czEifQ.81kundo2wtbDgcQC4W4SeA';
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v9',
			center: [4.717114, 52.039440],
			zoom: 14
		});

		var el = document.createElement('div');
  		el.className = 'marker';

		var marker = new mapboxgl.Marker(el)
		.setLngLat([4.717114, 52.039440])
		.addTo(map);
	</script>
{% endblock javascripts %}