{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/general.css') }} />
    <link rel="stylesheet" href={{ asset('css/navbar.css') }} />
    <link rel="stylesheet" href={{ asset('css/homepage.css') }} />
    <link rel="stylesheet" href={{ asset('css/contact.css') }} />
{% endblock stylesheets %}

{% block title %}Contact{% endblock title %}

{% block body %}
<div class="contact-body">
    <div class="contact-map">
		<div class="d-block w-100" id="map"></div>
	</div>

	<div class="contact-content container content">
		<div class="row">
			<div class="contact-adres col-xs-12 col-md-3">
				<h4>Adres</h4>
				<p>
					<span class="groenregie-green">{{companyName}}</span>
					<br><span class="white">{{address}}</span>
					<br><span class="white">{{zipcode}} {{place}}</span>
					<br><span class="white">{{country}}</span>
				</p>
				<p>
					T: <span class="groenregie-green">{{telephone}}</span><br> 
					E: <span class="white">{{email}}</span><br> 
					I: <span class="white">{{website}}</span>
				</p>
			</div>
			<div class="contact-form col-xs-12 col-md-7">
				<h4>Contactformulier</h4>
				{{form_errors(form)}}
				<form action={{path('contact')}} method="POST">
					{% for message in app.flashes('reCAPTCHA') %}
						<div class="alert alert-danger" role="alert">
							{{ message }}
						</div>
					{% endfor %}
					{% for message in app.flashes('sendSuccess') %}
						<div class="alert alert-success" role="alert">
							{{ message }}
						</div>
					{% endfor %}
					<div class="form-group">
						<label for="name">Uw naam*</label>
						{{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.name) }}
					</div>
					<div class="form-group">
						<label for="email">E-mailadres*</label>
						{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.email) }}
					</div>
					<div class="form-group">
						<label for="phoneNumber">Telefoonnummer*</label>
						{{ form_widget(form.phoneNumber, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.phoneNumber) }}
					</div>
					<div class="form-group">
						<label for="city">Plaats*</label>
						{{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.city) }}
					</div>
					<div class="form-group">
						<label for="subject">Onderwerp*</label>
						{{ form_widget(form.subject, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.subject) }}
					</div>
					<div class="form-group">
						<label for="message">Bericht*</label>
						{{ form_widget(form.message, { 'attr': {'class': 'form-control', 'rows': '3'} }) }}
						{{ form_errors(form.message) }}
					</div>
					<div class="form-group">
						{{ form_widget(form.checkbox, { 'attr': {'class': 'form-check-input', 'id': 'exampleCheck1'} }) }}
						<label class="form-check-label" for="privacy-agree">
							Ja, ik neem kennis van de <a target="_blank" href={{path('privacy_declaration')}} class="green-link">privacy statement</a> en door het formulier in te vullen ga ik daarmee akkoord.
						</label>
						{{ form_errors(form.checkbox) }}
					</div>
					<div class="form-group">
						<div class="g-recaptcha" data-sitekey="6Lco72wUAAAAACFvn_Wsj6crBIdhOowz69LLznEa"></div>
					</div>
					{{ form_row(form._token) }}
					<button type="submit" class="btn btn-primary send-button">Verzenden</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock body %}

{% block javascripts %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
		// Initialize and add the map
		function initMap() {
			// The location of Uluru
			var center = { lat: 52.040023, lng: 4.705377 };
			var uluru = { lat: 52.039727, lng: 4.717090 };
			// The map, centered at Uluru
			var map = new google.maps.Map(document.getElementById('map'),
				{
					zoom: 15,
					center: uluru,
					disableDefaultUI: true,
					zoomControl: true,
					scaleControl: false
				});
			// The marker, positioned at Uluru
			var image = new google.maps.MarkerImage(
				"./images/marker.png",
				new google.maps.Size(40, 60),
				new google.maps.Point(0, 0),
				new google.maps.Point(17, 34),
				new google.maps.Size(40, 60)
			);

			var marker = new google.maps.Marker({
				position: uluru,
				map: map,
				icon: image,
				animation: google.maps.Animation.DROP,
			});
		}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsR438xUaitNnO_6K8rTZKd7pPQFTAmEk&callback=initMap">
	</script>
{% endblock javascripts %}