{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/general.css') }} />
    <link rel="stylesheet" href={{ asset('css/navbar.css') }} />
    <link rel="stylesheet" href={{ asset('css/homepage.css') }} />
{% endblock stylesheets %}

{% block title %}{{pageTitle}}{% endblock title %}

{% block body %}
    <div class="nav-seperator"></div>
	<!-- Fluid content -->
        <div class="container">
            <div class="page-image">
                <img src={{foto.file.url}} width="100%" title={{foto.title}} alt={{foto.title}}>
            </div>
            <div class="row">
                <div class="col-lg paragraph"> 
                    <h4>{{ontwerpTitle}}</h4>
                    <p>
                        {{ontwerp|markdown}}
                    </p>
                </div>

                <div class="col-lg paragraph"> 
                    <h4>{{aanlegTitle}}</h4>
                    <p>
                        {{aanleg|markdown}}
                    </p>
                </div>

                <div class="col-lg paragraph"> 
                    <h4>{{onderhoudTitle}}</h4>
                    <p>
                        {{onderhoud|markdown}}
                    </p>
                </div>

            </div>
        </div>
      <!-- end fluid content -->
{% endblock body %}

{% block javascripts %}
{% endblock javascripts %}