{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('/css/general.css') }} />
    <link rel="stylesheet" href={{ asset('/css/navbar.css') }} />
    <link rel="stylesheet" href={{ asset('/css/homepage.css') }} />
    <link rel="stylesheet" href={{ asset('/css/gallery.css') }} />
    <link rel="stylesheet" href={{ asset('/css/card.css') }} />
    
{% endblock stylesheets %}

{% block body %}
	<div class="nav-seperator"></div>

	{% include 'default/subNavs/projectsSubNav.html.twig' %} {# include project subnav #}

	<!-- Fluid content -->
	<div class="container-fluid pb-5">
		<div class="row">
			{% for impression in projectPhotos %}
			<div class="col-lg-4 col-md-6 col-xs-12 gallery-col">
			  	<a class="d-block"href={{path('impression_specific', {'name': impression.urlNaam, 'id': impression.id})}}>
					<div class="photo-card box-shadow" style="background: url({{impression.thumbnail.file.url}}) no-repeat center center; background-size: cover">
						<img class="card-img-top" alt="Thumbnail" style="width: 100%; display: block;" src={{impression.thumbnail.file.url}}>
						<div class="text-overlay mobile-hidden">
							<div class="text-center">
								<h4><b>{{ impression.titel }}</b></h4>
							</div>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
	<!-- end fluid content -->
{% endblock body %}

{% block javascripts %}

{% endblock javascripts %}