{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/general.css') }} />
    <link rel="stylesheet" href={{ asset('css/navbar.css') }} />
    <link rel="stylesheet" href={{ asset('css/homepage.css') }} />
    <link rel="stylesheet" href={{ asset('css/our-partner.css') }} />
{% endblock stylesheets %}

{% block title %}{{pageTitle}}{% endblock title %}

{% block body %}
    <div class="nav-seperator"></div>
    <!-- JUMBOTRON -->
      <div class="jumbotron jumbotron-fluid align-center transparent white padding-bottom-15 reduced-jumbotron">
        <div class="container">
          <h2>{{pageHeader}}</h2>
          <p class="lead">
            {{pageSubHeader}}
          </p>
        </div>
      </div>
      <!-- END JUMBOTRON -->

    <!-- container content -->
      <div class="container content">
      {% for mediaitem in mediaItems %}
        <div class="row our-partner-media">
          <div class="col-md-4 col-sm-12">
            <img class="mr-0" src={{mediaitem.thumbnail.file.url}} alt={{mediaitem.thumbnail.title}} title={{mediaitem.thumbnail.title}}>
          </div>
          <div class="col-md-8 col-sm-12">
            <h3 class="mt-2 our-partner-h">{{mediaitem.naam}}</h3>
            {{mediaitem.korteText|markdown}}
            <p>
              <a href={{path('in_the_media_specific', {'name': mediaitem.urlNaam, 'id': mediaitem.id})}} class="btn btn-outline-primary float-right groenregie-green groenregie-button more-info">lees meer</a>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- end fluid content -->
{% endblock body %}

{% block javascripts %}

{% endblock javascripts %}