{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/general.css') }} />
    <link rel="stylesheet" href={{ asset('css/navbar.css') }} />
    <link rel="stylesheet" href={{ asset('css/homepage.css') }} />
    <link rel="stylesheet" href={{ asset('css/our-partner.css') }} />
{% endblock stylesheets %}

{% block title %}{{pageTitle}}{% endblock title %}

{% block body %}
    <div class="nav-seperator"></div>
  {% include 'default/subNavs/newsSubNav.html.twig' %} {# include full background #}

  <!-- JUMBOTRON -->
    <div class="jumbotron jumbotron-fluid transparent white padding-bottom-15 reduced-jumbotron" style="z-index: 99">
        <div class="container">
            <h2>{{pageHeader}}</h2>
            {% if pageHeader is not null %}
            <p class="lead">
                {{pageSubHeader}}       
            </p> 
            {% endif %}
        </div>
    </div>
    <!-- END JUMBOTRON -->

    <!-- container list-content -->
      <div class="container list-content">
      {% for mediaitem in mediaItems %}
        <div class="row our-partner-media">
          <div class="col-md-4 col-sm-12">
            <img class="mr-0" src={{mediaitem.thumbnail.file.url}} alt={{mediaitem.thumbnail.title}} title={{mediaitem.thumbnail.title}}>
          </div>
          <div class="col-md-8 col-sm-12">
            <h3 class="mt-2 our-partner-h">{{mediaitem.naam}}</h3>
            {{mediaitem.korteText|markdown}}
            <p>
              {% if mediaitem.getPdf() is defined and mediaitem.getPdf() is not null %}
                <a target="_blank" href={{mediaitem.getPdf().getFile().url}} class="btn btn-outline-primary float-right groenregie-green groenregie-button more-info">Bekijk artikel</a>
              {% endif %}

              {% if mediaitem.getVideo() is defined and mediaitem.getVideo() is not null %}
                <a target="_blank" href={{mediaitem.getVideo().getFile().url}} class="btn btn-outline-primary float-right groenregie-green groenregie-button more-info">Bekijk video</a>
              {% endif %}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- end fluid content -->
{% endblock body %}

{% block javascripts %}

{% endblock javascripts %}