{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href={{ asset('css/general.css') }} />
  <link rel="stylesheet" href={{ asset('css/navbar.css') }} />
  <link rel="stylesheet" href={{ asset('css/homepage.css') }} />
  <link rel="stylesheet" href={{ asset('css/about-us.css') }} />
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
{% endblock stylesheets %}

{% block title %}{{pageTitle}}{% endblock title %}

{% block body %}

{% include 'default/subNavs/aboutUsSubNav.html.twig' %} {# include full background #}

{% if direction is defined and direction == 'right' %}
  {% include 'default/fullPageBackground/about-us-right.html.twig' %} {# include full background #}
{% else %}
  {% include 'default/fullPageBackground/about-us-left.html.twig' %} {# include full background #}
{% endif %}

{% if subActive == 'gardenBuild' %}
  <a class="d-block vhg-logo-on-page"href="https://www.vhg.org/">
    <img class="mt-4" src={{ asset('images/vhg.png') }}  height="80" />
  </a>
{% endif %}

{% endblock body %}

{% block javascripts %}

{% endblock javascripts %}