{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/general.css') }} />
    <link rel="stylesheet" href={{ asset('css/navbar.css') }} />
    <link rel="stylesheet" href={{ asset('css/homepage.css') }} />
{% endblock stylesheets %}

{% block title %}{{pageTitle}}{% endblock title %}

{% block body %}
	<div id="slideshow">
			{% for image in slideshowFotos %}
					<img src={{image.file.url}} }} title={{image.title}} alt={{image.title}} />
			{% endfor %}
	</div>
	<div style="justify-content: center; width: 100%">
		<div class="jumbotron jumbotron-fluid white homepage-welcome-text card">
			<div class="container">
				<h2 class="welcome-text">Welkom bij <span class="groenregie-green">Groen</span>regie</h2>
				<hr class="hr-green accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			</div>
		</div>
	</div>
{% endblock body %}

{% block javascripts %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script>
	(function(){
		var images          = document.getElementById('slideshow').getElementsByTagName('img'),
				numberOfImages  = images.length,
				i               = 0;
		document.getElementById('slideshow').getElementsByTagName('img')[0].className = "fx1";
		window.setTimeout(() => {
			kenBurns(),
			50
		});

		window.setInterval(kenBurns, 8000);		

		function kenBurns() {
		if(i==numberOfImages){ i = 0;}
		images[i].className = "fx";

		if(i===0){ images[numberOfImages-2].className = "";}
		if(i===1){ images[numberOfImages-1].className = "";}
		if(i>1){ images[i-2].className = "";}
		i++;
		}
	})();
</script>
{% endblock javascripts %}