{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/general.css') }} />
    <link rel="stylesheet" href={{ asset('css/navbar.css') }} />
    <link rel="stylesheet" href={{ asset('css/homepage.css') }} />
    <link rel="stylesheet" href={{ asset('css/our-partner.css') }} />
{% endblock stylesheets %}

{% block title %}{{pageTitle}}{% endblock title %}

{% block body %}
<div class="nav-seperator"></div>

<!-- JUMBOTRON -->
    <div class="jumbotron jumbotron-fluid transparent white padding-bottom-15 reduced-jumbotron" style="z-index: 99">
        <h2>{{pageHeader}}</h2>
        {% if pageHeader is not null %}
        <p class="lead">
            {{pageSubHeader}}       
        </p> 
        {% endif %}
    </div>
    <!-- END JUMBOTRON -->

      <!-- container list-content -->
        <div class="container-fluid px-4 list-content">
            <div class="row">
            {% for partner in partners %}
                <div  class="col-sm-12 col-md-6 pt-3 px-4">
                    <div class="row green-border h-100 py-4">
                        <div class="col-md-8 col-sm-12">
                            <h3 class="mt-2">{{partner.naam}}</h3>
                            {{partner.korteText|markdown}}
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <img width="100%" class="mr-0" src={{partner.thumbnail.file.url}} alt={{partner.thumbnail.title}} title={{partner.thumbnail.title}}>
                        </div>
                    </div>
                </div>
			{% endfor %}
            </div>
        </div>
      <!-- end fluid content -->
{% endblock body %}

{% block javascripts %}

{% endblock javascripts %}