{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/general.css') }} />
    <link rel="stylesheet" href={{ asset('css/navbar.css') }} />
    <link rel="stylesheet" href={{ asset('css/homepage.css') }} />
    <link rel="stylesheet" href={{ asset('css/our-partner.css') }} />
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
{% endblock stylesheets %}

{% block title %}{{pageTitle}}{% endblock title %}

{% block body %}
    <div class="nav-seperator"></div>
    <!-- JUMBOTRON -->
      <div class="jumbotron px-lg-5 jumbotron-fluid transparent white padding-bottom-15 reduced-jumbotron">
        <h2>{{pageHeader}}</h2>
        {% if pageHeader is not null %}
        <p class="lead">
          {{pageSubHeader}}
        </p>
        {% endif %}
      </div>
      <!-- END JUMBOTRON -->

    <!-- container list-content -->
      <div class="container-fluid px-list list-content">
      {% for reaction in customerReactions %}
        <div class="row our-partner-media">
          <div class="col-md-4 col-sm-12">
            <img class="mr-0" src={{reaction.thumbnail.file.url}} alt={{reaction.thumbnail.title}} title={{reaction.thumbnail.title}}>
          </div>
          <div class="col-md-8 col-sm-12">
            <h3 class="mt-2 our-partner-h">{{reaction.naam}}</h3>
            {{reaction.korteText|markdown}}
            <p class="quote">
              {{reaction.auteur}}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- end fluid content -->
{% endblock body %}

{% block javascripts %}

{% endblock javascripts %}