    	<!-- NAVBAR -->
        {% if navbar is defined and navbar == 'absolute-navbar' %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark absolute-navbar">
        {% else %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% endif %}
            <a class="navbar-brand" href={{path('homepage')}}><img src={{ asset('images/logo.png') }} height="44"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {{ parentActive == 'homepage' ? 'groenregie-green' : 'white' }}" href={{path('homepage')}}>home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ parentActive == 'aboutUs' ? 'groenregie-green' : 'white' }}" href={{path('about_us')}}>over Groenregie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ parentActive == 'ourProjects' ? 'groenregie-green' : 'white' }}" href={{path('impressions_choose')}}>onze projecten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ parentActive == 'ourPartners' ? 'groenregie-green' : 'white' }}" href={{path('our_partners')}}>onze partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ parentActive == 'customerReactions' ? 'groenregie-green' : 'white' }}" href={{path('customer_reactions')}}>klantreacties</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href={{path('news_updates')}} class="nav-link {{ parentActive == 'news' or parentActive == 'inTheMedia' ? 'groenregie-green' : 'white' }}">nieuws</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ parentActive == 'contact' ? 'groenregie-green' : 'white' }}" href="/contact">contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- END NAVBAR -->